In [62]:
import pandas as pd
import numpy as np

In [63]:
raw_data=pd.read_csv("/content/Absenteeism_dataset.csv")

In [64]:
df=raw_data.copy()

In [65]:
pd.options.display.max_columns=None
pd.options.display.max_rows=None

In [66]:
display(df)

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,3,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,10,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,20,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,14,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,1,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,20,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,20,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,20,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,3,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,24,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,3,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,3,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,6,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,33,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,18,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,3,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,10,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,20,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,11,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,10,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,11,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,30,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,11,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,3,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
30,3,18,17/08/2015,179,51,38,205.917,31,1,0,0,8
31,2,18,27/08/2015,235,29,48,205.917,33,1,1,5,8
32,1,23,27/08/2015,235,11,37,205.917,29,3,1,1,4
33,2,18,17/08/2015,235,29,48,205.917,33,1,1,5,8
34,3,23,17/08/2015,179,51,38,205.917,31,1,0,0,2
35,10,23,17/08/2015,361,52,28,205.917,27,1,1,4,1
36,11,24,04/08/2015,289,36,33,205.917,30,1,2,1,8
37,19,11,20/08/2015,291,50,32,205.917,23,1,0,0,4
38,2,28,21/08/2015,235,29,48,205.917,33,1,1,5,8
39,20,23,28/08/2015,260,50,36,205.917,23,1,4,0,4
40,27,23,01/09/2015,184,42,27,241.476,21,1,0,0,2
41,34,23,07/09/2015,118,10,37,241.476,28,1,0,0,4
42,3,23,01/09/2015,179,51,38,241.476,31,1,0,0,4
43,5,19,08/09/2015,235,20,43,241.476,38,1,1,0,8
44,14,23,09/09/2015,155,12,34,241.476,25,1,2,0,2
45,34,23,13/09/2015,118,10,37,241.476,28,1,0,0,3
46,3,23,14/09/2015,179,51,38,241.476,31,1,0,0,3
47,15,23,24/09/2015,291,31,40,241.476,25,1,1,1,4
48,20,22,04/09/2015,260,50,36,241.476,23,1,4,0,8
49,15,14,14/09/2015,291,31,40,241.476,25,1,1,1,32
50,20,0,21/09/2015,260,50,36,241.476,23,1,4,0,0
51,29,0,28/09/2015,225,26,28,241.476,24,1,1,2,0
52,28,23,08/09/2015,225,26,28,241.476,24,1,1,2,2
53,34,23,15/09/2015,118,10,37,241.476,28,1,0,0,2
54,11,0,22/09/2015,289,36,33,241.476,30,1,2,1,0
55,36,0,29/09/2015,118,13,50,241.476,31,1,1,0,0
56,28,18,16/09/2015,225,26,28,241.476,24,1,1,2,3
57,3,23,23/09/2015,179,51,38,241.476,31,1,0,0,3
58,13,0,30/09/2015,369,17,31,241.476,25,1,3,0,0
59,33,23,11/09/2015,248,25,47,241.476,32,1,2,1,1
60,3,23,18/09/2015,179,51,38,241.476,31,1,0,0,3
61,20,23,25/09/2015,260,50,36,241.476,23,1,4,0,4
62,3,23,06/10/2015,179,51,38,253.465,31,1,0,0,3
63,34,23,13/10/2015,118,10,37,253.465,28,1,0,0,3
64,36,0,14/10/2015,118,13,50,253.465,31,1,1,0,0
65,22,23,15/10/2015,179,26,30,253.465,19,3,0,0,1
66,3,23,16/10/2015,179,51,38,253.465,31,1,0,0,3
67,28,23,16/10/2015,225,26,28,253.465,24,1,1,2,3
68,34,23,06/10/2015,118,10,37,253.465,28,1,0,0,3
69,28,23,14/10/2015,225,26,28,253.465,24,1,1,2,2
70,33,23,21/10/2015,248,25,47,253.465,32,1,2,1,2
71,15,23,22/10/2015,291,31,40,253.465,25,1,1,1,5
72,3,23,21/10/2015,179,51,38,253.465,31,1,0,0,8
73,28,23,21/10/2015,225,26,28,253.465,24,1,1,2,3
74,20,19,22/10/2015,260,50,36,253.465,23,1,4,0,16
75,15,14,13/10/2015,291,31,40,253.465,25,1,1,1,8
76,28,28,20/10/2015,225,26,28,253.465,24,1,1,2,2
77,11,26,21/10/2015,289,36,33,253.465,30,1,2,1,8
78,10,23,23/10/2015,361,52,28,253.465,27,1,1,4,1
79,20,28,30/10/2015,260,50,36,253.465,23,1,4,0,3
80,3,23,05/11/2015,179,51,38,306.345,31,1,0,0,1
81,28,23,04/11/2015,225,26,28,306.345,24,1,1,2,1
82,3,13,05/11/2015,179,51,38,306.345,31,1,0,0,8
83,17,21,12/11/2015,179,22,40,306.345,22,2,2,0,8
84,15,23,19/11/2015,291,31,40,306.345,25,1,1,1,5
85,14,10,02/11/2015,155,12,34,306.345,25,1,2,0,32
86,6,22,09/11/2015,189,29,33,306.345,25,1,2,2,8
87,15,14,16/11/2015,291,31,40,306.345,25,1,1,1,40
88,28,23,18/11/2015,225,26,28,306.345,24,1,1,2,1
89,14,6,20/11/2015,155,12,34,306.345,25,1,2,0,8
90,28,23,18/11/2015,225,26,28,306.345,24,1,1,2,3
91,17,21,25/11/2015,179,22,40,306.345,22,2,2,0,8
92,28,13,20/11/2015,225,26,28,306.345,24,1,1,2,3
93,20,28,27/11/2015,260,50,36,306.345,23,1,4,0,4
94,33,28,02/11/2015,248,25,47,306.345,32,1,2,1,1
95,28,28,10/11/2015,225,26,28,306.345,24,1,1,2,3
96,11,7,11/11/2015,289,36,33,306.345,30,1,2,1,24
97,15,23,26/11/2015,291,31,40,306.345,25,1,1,1,3
98,33,23,01/12/2015,248,25,47,261.306,32,1,2,1,1
99,34,19,01/12/2015,118,10,37,261.306,28,1,0,0,64
100,36,23,02/12/2015,118,13,50,261.306,31,1,1,0,2
101,1,26,02/12/2015,235,11,37,261.306,29,3,1,1,8
102,28,23,03/12/2015,225,26,28,261.306,24,1,1,2,2
103,20,26,04/12/2015,260,50,36,261.306,23,1,4,0,8
104,34,19,08/12/2015,118,10,37,261.306,28,1,0,0,56
105,10,22,09/12/2015,361,52,28,261.306,27,1,1,4,8
106,28,28,10/12/2015,225,26,28,261.306,24,1,1,2,3
107,20,28,11/12/2015,260,50,36,261.306,23,1,4,0,3
108,28,23,15/12/2015,225,26,28,261.306,24,1,1,2,2
109,10,22,16/12/2015,361,52,28,261.306,27,1,1,4,8
110,34,27,11/12/2015,118,10,37,261.306,28,1,0,0,2
111,24,19,18/12/2015,246,25,41,261.306,23,1,0,0,8
112,28,23,18/12/2015,225,26,28,261.306,24,1,1,2,2
113,28,23,06/01/2016,225,26,28,308.593,24,1,1,2,1
114,34,19,04/01/2016,118,10,37,308.593,28,1,0,0,1
115,34,27,05/01/2016,118,10,37,308.593,28,1,0,0,1
116,14,18,05/01/2016,155,12,34,308.593,25,1,2,0,8
117,28,27,06/01/2016,225,26,28,308.593,24,1,1,2,2
118,27,23,07/01/2016,184,42,27,308.593,21,1,0,0,2
119,28,28,07/01/2016,225,26,28,308.593,24,1,1,2,2
120,28,27,08/01/2016,225,26,28,308.593,24,1,1,2,1
121,34,27,11/01/2016,118,10,37,308.593,28,1,0,0,2
122,28,27,12/01/2016,225,26,28,308.593,24,1,1,2,2
123,34,27,12/01/2016,118,10,37,308.593,28,1,0,0,2
124,34,27,13/01/2016,118,10,37,308.593,28,1,0,0,2
125,34,27,14/01/2016,118,10,37,308.593,28,1,0,0,2
126,34,27,15/01/2016,118,10,37,308.593,28,1,0,0,2
127,34,27,11/01/2016,118,10,37,308.593,28,1,0,0,2
128,34,27,12/01/2016,118,10,37,308.593,28,1,0,0,2
129,22,18,12/01/2016,179,26,30,308.593,19,3,0,0,8
130,11,18,12/01/2016,289,36,33,308.593,30,1,2,1,8
131,34,27,13/01/2016,118,10,37,308.593,28,1,0,0,2
132,27,23,21/01/2016,184,42,27,308.593,21,1,0,0,2
133,34,27,28/01/2016,118,10,37,308.593,28,1,0,0,2
134,34,27,25/01/2016,118,10,37,308.593,28,1,0,0,0
135,28,23,26/01/2016,225,26,28,308.593,24,1,1,2,1
136,11,22,28/01/2016,289,36,33,308.593,30,1,2,1,3
137,27,23,05/02/2016,184,42,27,302.585,21,1,0,0,1
138,24,1,03/02/2016,246,25,41,302.585,23,1,0,0,8
139,3,11,10/02/2016,179,51,38,302.585,31,1,0,0,8
140,14,28,11/02/2016,155,12,34,302.585,25,1,2,0,2
141,6,23,11/02/2016,189,29,33,302.585,25,1,2,2,8
142,20,28,12/02/2016,260,50,36,302.585,23,1,4,0,2
143,11,22,12/02/2016,289,36,33,302.585,30,1,2,1,8
144,31,11,08/02/2016,388,15,50,302.585,24,1,0,0,8
145,31,1,09/02/2016,388,15,50,302.585,24,1,0,0,8
146,28,28,15/02/2016,225,26,28,302.585,24,1,1,2,2
147,28,23,09/02/2016,225,26,28,302.585,24,1,1,2,2
148,22,23,16/02/2016,179,26,30,302.585,19,3,0,0,1
149,27,23,23/02/2016,184,42,27,302.585,21,1,0,0,8
150,28,25,25/02/2016,225,26,28,302.585,24,1,1,2,3
151,18,18,15/02/2016,330,16,28,302.585,25,2,0,0,8
152,18,23,16/02/2016,330,16,28,302.585,25,2,0,0,1
153,28,23,17/02/2016,225,26,28,302.585,24,1,1,2,1
154,6,19,25/02/2016,189,29,33,302.585,25,1,2,2,8
155,19,28,01/03/2016,291,50,32,343.253,23,1,0,0,2
156,20,19,01/03/2016,260,50,36,343.253,23,1,4,0,8
157,30,19,08/03/2016,157,27,29,343.253,22,1,0,0,3
158,17,17,15/03/2016,179,22,40,343.253,22,2,2,0,8
159,15,22,16/03/2016,291,31,40,343.253,25,1,1,1,8
160,20,13,02/03/2016,260,50,36,343.253,23,1,4,0,8
161,22,13,03/03/2016,179,26,30,343.253,19,3,0,0,8
162,33,14,04/03/2016,248,25,47,343.253,32,1,2,1,3
163,20,13,04/03/2016,260,50,36,343.253,23,1,4,0,40
164,17,11,07/03/2016,179,22,40,343.253,22,2,2,0,40
165,14,1,14/03/2016,155,12,34,343.253,25,1,2,0,16
166,20,26,21/03/2016,260,50,36,343.253,23,1,4,0,16
167,14,13,22/03/2016,155,12,34,343.253,25,1,2,0,8
168,11,6,24/03/2016,289,36,33,343.253,30,1,2,1,8
169,17,8,24/03/2016,179,22,40,343.253,22,2,2,0,8
170,20,28,25/03/2016,260,50,36,343.253,23,1,4,0,4
171,28,23,25/03/2016,225,26,28,343.253,24,1,1,2,1
172,7,14,28/03/2016,279,5,39,343.253,24,1,2,0,8
173,3,13,29/03/2016,179,51,38,343.253,31,1,0,0,24
174,28,23,30/03/2016,225,26,28,343.253,24,1,1,2,2
175,28,11,28/03/2016,225,26,28,343.253,24,1,1,2,8
176,22,13,28/03/2016,179,26,30,343.253,19,3,0,0,1
177,28,11,29/03/2016,225,26,28,343.253,24,1,1,2,8
178,28,11,30/03/2016,225,26,28,343.253,24,1,1,2,16
179,3,13,30/03/2016,179,51,38,343.253,31,1,0,0,3
180,7,14,17/03/2016,279,5,39,343.253,24,1,2,0,16
181,28,28,18/03/2016,225,26,28,343.253,24,1,1,2,2
182,33,14,25/03/2016,248,25,47,343.253,32,1,2,1,3
183,28,28,28/03/2016,225,26,28,343.253,24,1,1,2,1
184,15,28,06/04/2016,291,31,40,326.452,25,1,1,1,1
185,28,23,13/04/2016,225,26,28,326.452,24,1,1,2,1
186,14,28,12/04/2016,155,12,34,326.452,25,1,2,0,1
187,24,13,13/04/2016,246,25,41,326.452,23,1,0,0,24
188,14,23,14/04/2016,155,12,34,326.452,25,1,2,0,1
189,28,28,15/04/2016,225,26,28,326.452,24,1,1,2,2
190,20,28,15/04/2016,260,50,36,326.452,23,1,4,0,4
191,3,13,06/04/2016,179,51,38,326.452,31,1,0,0,24
192,36,23,07/04/2016,118,13,50,326.452,31,1,1,0,1
193,15,23,08/04/2016,291,31,40,326.452,25,1,1,1,3
194,24,14,08/04/2016,246,25,41,326.452,23,1,0,0,8
195,15,28,22/04/2016,291,31,40,326.452,25,1,1,1,1
196,33,28,29/04/2016,248,25,47,326.452,32,1,2,1,8
197,20,19,29/04/2016,260,50,36,326.452,23,1,4,0,56
198,11,19,26/04/2016,289,36,33,326.452,30,1,2,1,8
199,14,12,27/04/2016,155,12,34,326.452,25,1,2,0,24
200,23,19,27/04/2016,378,49,36,326.452,21,1,2,4,8
201,11,13,28/04/2016,289,36,33,326.452,30,1,2,1,16
202,1,7,08/04/2016,235,11,37,326.452,29,3,1,1,3
203,2,0,04/04/2016,235,29,48,326.452,33,1,1,5,0
204,11,13,04/05/2016,289,36,33,378.884,30,1,2,1,8
205,14,28,05/05/2016,155,12,34,378.884,25,1,2,0,2
206,14,28,02/05/2016,155,12,34,378.884,25,1,2,0,1
207,3,18,03/05/2016,179,51,38,378.884,31,1,0,0,8
208,28,19,03/05/2016,225,26,28,378.884,24,1,1,2,8
209,27,7,11/05/2016,184,42,27,378.884,21,1,0,0,4
210,14,28,09/05/2016,155,12,34,378.884,25,1,2,0,2
211,3,12,10/05/2016,179,51,38,378.884,31,1,0,0,1
212,11,13,04/05/2016,289,36,33,378.884,30,1,2,1,24
213,7,0,11/05/2016,279,5,39,378.884,24,1,2,0,0
214,18,0,18/05/2016,330,16,28,378.884,25,2,0,0,0
215,23,0,25/05/2016,378,49,36,378.884,21,1,2,4,0
216,31,0,25/05/2016,388,15,50,378.884,24,1,0,0,0
217,3,11,24/05/2016,179,51,38,378.884,31,1,0,0,1
218,36,13,11/05/2016,118,13,50,378.884,31,1,1,0,24
219,10,22,27/05/2016,361,52,28,378.884,27,1,1,4,8
220,24,19,06/06/2016,246,25,41,377.550,23,1,0,0,8
221,10,22,13/06/2016,361,52,28,377.550,27,1,1,4,8
222,24,10,14/06/2016,246,25,41,377.550,23,1,0,0,24
223,15,23,16/06/2016,291,31,40,377.550,25,1,1,1,4
224,24,10,17/06/2016,246,25,41,377.550,23,1,0,0,8
225,3,11,13/06/2016,179,51,38,377.550,31,1,0,0,8
226,14,23,20/06/2016,155,12,34,377.550,25,1,2,0,4
227,24,10,27/06/2016,246,25,41,377.550,23,1,0,0,8
228,36,13,29/06/2016,118,13,50,377.550,31,1,1,0,8
229,1,13,03/06/2016,235,11,37,377.550,29,3,1,1,16
230,36,23,07/06/2016,118,13,50,377.550,31,1,1,0,1
231,36,13,08/06/2016,118,13,50,377.550,31,1,1,0,80
232,23,22,09/06/2016,378,49,36,377.550,21,1,2,4,8
233,3,11,10/06/2016,179,51,38,377.550,31,1,0,0,2
234,32,28,20/06/2016,289,48,49,377.550,36,1,0,2,2
235,28,28,30/06/2016,225,26,28,377.550,24,1,1,2,2
236,14,19,05/07/2016,155,12,34,275.312,25,1,2,0,16
237,36,1,06/07/2016,118,13,50,275.312,31,1,1,0,8
238,34,5,08/07/2016,118,10,37,275.312,28,1,0,0,8
239,34,26,08/07/2016,118,10,37,275.312,28,1,0,0,4
240,18,26,12/07/2016,330,16,28,275.312,25,2,0,0,8
241,22,18,14/07/2016,179,26,30,275.312,19,3,0,0,8
242,14,25,15/07/2016,155,12,34,275.312,25,1,2,0,2
243,18,1,18/07/2016,330,16,28,275.312,25,2,0,0,8
244,18,1,19/07/2016,330,16,28,275.312,25,2,0,0,8
245,30,25,18/07/2016,157,27,29,275.312,22,1,0,0,3
246,10,22,19/07/2016,361,52,28,275.312,27,1,1,4,8
247,11,26,20/07/2016,289,36,33,275.312,30,1,2,1,8
248,3,26,21/07/2016,179,51,38,275.312,31,1,0,0,8
249,11,19,11/07/2016,289,36,33,275.312,30,1,2,1,32
250,11,19,14/07/2016,289,36,33,275.312,30,1,2,1,8
251,20,0,21/07/2016,260,50,36,275.312,23,1,4,0,0
252,11,19,04/08/2016,289,36,33,265.615,30,1,2,1,8
253,30,19,11/08/2016,157,27,29,265.615,22,1,0,0,3
254,11,23,07/08/2016,289,36,33,265.615,30,1,2,1,1
255,9,18,08/08/2016,228,14,58,265.615,22,1,2,1,8
256,26,13,10/08/2016,300,26,43,265.615,25,1,2,1,1
257,26,14,10/08/2016,300,26,43,265.615,25,1,2,1,2
258,20,28,11/08/2016,260,50,36,265.615,23,1,4,0,4
259,11,23,08/08/2016,289,36,33,265.615,30,1,2,1,4
260,33,23,09/08/2016,248,25,47,265.615,32,1,2,1,1
261,21,11,10/08/2016,268,11,33,265.615,25,2,0,0,8
262,22,23,10/08/2016,179,26,30,265.615,19,3,0,0,1
263,36,13,10/08/2016,118,13,50,265.615,31,1,1,0,3
264,33,25,14/08/2016,248,25,47,265.615,32,1,2,1,2
265,1,23,15/08/2016,235,11,37,265.615,29,3,1,1,1
266,36,23,17/08/2016,118,13,50,265.615,31,1,1,0,1
267,1,19,24/08/2016,235,11,37,265.615,29,3,1,1,8
268,10,8,08/08/2016,361,52,28,265.615,27,1,1,4,8
269,27,6,30/08/2016,184,42,27,265.615,21,1,0,0,8
270,3,11,05/09/2016,179,51,38,294.217,31,1,0,0,8
271,3,23,09/09/2016,179,51,38,294.217,31,1,0,0,3
272,11,19,07/09/2016,289,36,33,294.217,30,1,2,1,24
273,5,0,08/09/2016,235,20,43,294.217,38,1,1,0,0
274,24,9,12/09/2016,246,25,41,294.217,23,1,0,0,16
275,15,28,13/09/2016,291,31,40,294.217,25,1,1,1,3
276,8,0,13/09/2016,231,35,39,294.217,35,1,2,2,0
277,19,0,13/09/2016,291,50,32,294.217,23,1,0,0,0
278,3,13,14/09/2016,179,51,38,294.217,31,1,0,0,8
279,24,9,14/09/2016,246,25,41,294.217,23,1,0,0,32
280,3,23,15/09/2016,179,51,38,294.217,31,1,0,0,1
281,15,28,16/09/2016,291,31,40,294.217,25,1,1,1,4
282,20,28,16/09/2016,260,50,36,294.217,23,1,4,0,4
283,5,26,14/09/2016,235,20,43,294.217,38,1,1,0,8
284,36,28,15/09/2016,118,13,50,294.217,31,1,1,0,1
285,5,0,15/09/2016,235,20,43,294.217,38,1,1,0,0
286,15,28,16/09/2016,291,31,40,294.217,25,1,1,1,3
287,15,7,26/09/2016,291,31,40,294.217,25,1,1,1,40
288,3,13,26/09/2016,179,51,38,294.217,31,1,0,0,8
289,11,24,05/10/2016,289,36,33,265.017,30,1,2,1,8
290,1,26,05/10/2016,235,11,37,265.017,29,3,1,1,4
291,11,26,05/10/2016,289,36,33,265.017,30,1,2,1,8
292,11,22,06/10/2016,289,36,33,265.017,30,1,2,1,8
293,36,0,06/10/2016,118,13,50,265.017,31,1,1,0,0
294,33,0,06/10/2016,248,25,47,265.017,32,1,2,1,0
295,22,1,12/10/2016,179,26,30,265.017,19,3,0,0,8
296,34,7,12/10/2016,118,10,37,265.017,28,1,0,0,3
297,13,22,12/10/2016,369,17,31,265.017,25,1,3,0,8
298,3,28,14/10/2016,179,51,38,265.017,31,1,0,0,1
299,22,1,14/10/2016,179,26,30,265.017,19,3,0,0,64
300,5,0,14/10/2016,235,20,43,265.017,38,1,1,0,0
301,11,19,15/10/2016,289,36,33,265.017,30,1,2,1,16
302,20,28,16/10/2016,260,50,36,265.017,23,1,4,0,3
303,5,0,16/10/2016,235,20,43,265.017,38,1,1,0,0
304,5,23,19/10/2016,235,20,43,265.017,38,1,1,0,2
305,5,23,19/10/2016,235,20,43,265.017,38,1,1,0,2
306,36,28,20/10/2016,118,13,50,265.017,31,1,1,0,1
307,15,28,20/10/2016,291,31,40,265.017,25,1,1,1,4
308,22,23,22/10/2016,179,26,30,265.017,19,3,0,0,16
309,36,28,22/10/2016,118,13,50,265.017,31,1,1,0,1
310,10,10,26/10/2016,361,52,28,265.017,27,1,1,4,8
311,20,0,27/10/2016,260,50,36,265.017,23,1,4,0,0
312,15,0,27/10/2016,291,31,40,265.017,25,1,1,1,0
313,30,0,27/10/2016,157,27,29,265.017,22,1,0,0,0
314,22,1,28/10/2016,179,26,30,265.017,19,3,0,0,5
315,22,7,28/10/2016,179,26,30,265.017,19,3,0,0,5
316,36,23,29/10/2016,118,13,50,265.017,31,1,1,0,1
317,34,11,07/11/2016,118,10,37,284.031,28,1,0,0,8
318,33,23,07/11/2016,248,25,47,284.031,32,1,2,1,2
319,3,6,08/11/2016,179,51,38,284.031,31,1,0,0,8
320,20,28,11/11/2016,260,50,36,284.031,23,1,4,0,3
321,15,23,14/11/2016,291,31,40,284.031,25,1,1,1,1
322,23,1,14/11/2016,378,49,36,284.031,21,1,2,4,8
323,14,11,14/11/2016,155,12,34,284.031,25,1,2,0,120
324,5,26,14/11/2016,235,20,43,284.031,38,1,1,0,8
325,18,0,15/11/2016,330,16,28,284.031,25,2,0,0,0
326,1,18,16/11/2016,235,11,37,284.031,29,3,1,1,1
327,34,11,16/11/2016,118,10,37,284.031,28,1,0,0,3
328,1,25,17/11/2016,235,11,37,284.031,29,3,1,1,2
329,3,28,17/11/2016,179,51,38,284.031,31,1,0,0,3
330,24,13,18/11/2016,246,25,41,284.031,23,1,0,0,8
331,15,12,18/11/2016,291,31,40,284.031,25,1,1,1,4
332,24,13,21/11/2016,246,25,41,284.031,23,1,0,0,8
333,3,28,22/11/2016,179,51,38,284.031,31,1,0,0,1
334,20,10,23/11/2016,260,50,36,284.031,23,1,4,0,8
335,20,15,25/11/2016,260,50,36,284.031,23,1,4,0,8
336,23,0,25/11/2016,378,49,36,284.031,21,1,2,4,0
337,7,0,29/11/2016,279,5,39,284.031,24,1,2,0,0
338,3,23,24/11/2016,179,51,38,284.031,31,1,0,0,1
339,28,12,05/12/2016,225,26,28,236.629,24,1,1,2,3
340,3,28,05/12/2016,179,51,38,236.629,31,1,0,0,2
341,3,28,05/12/2016,179,51,38,236.629,31,1,0,0,1
342,1,23,05/12/2016,235,11,37,236.629,29,3,1,1,3
343,36,28,06/12/2016,118,13,50,236.629,31,1,1,0,1
344,20,28,09/12/2016,260,50,36,236.629,23,1,4,0,4
345,24,4,15/12/2016,246,25,41,236.629,23,1,0,0,8
346,3,28,15/12/2016,179,51,38,236.629,31,1,0,0,1
347,3,28,16/12/2016,179,51,38,236.629,31,1,0,0,1
348,22,23,20/12/2016,179,26,30,236.629,19,3,0,0,1
349,34,25,20/12/2016,118,10,37,236.629,28,1,0,0,8
350,1,25,22/12/2016,235,11,37,236.629,29,3,1,1,2
351,3,28,23/12/2016,179,51,38,236.629,31,1,0,0,1
352,5,13,20/12/2016,235,20,43,236.629,38,1,1,0,8
353,1,14,20/12/2016,235,11,37,236.629,29,3,1,1,4
354,20,26,21/12/2016,260,50,36,236.629,23,1,4,0,8
355,30,28,19/12/2016,157,27,29,236.629,22,1,0,0,2
356,3,28,19/12/2016,179,51,38,236.629,31,1,0,0,3
357,11,19,19/12/2016,289,36,33,236.629,30,1,2,1,8
358,28,23,04/01/2017,225,26,28,330.061,24,1,1,2,5
359,34,19,09/01/2017,118,10,37,330.061,28,1,0,0,32
360,14,23,09/01/2017,155,12,34,330.061,25,1,2,0,2
361,1,13,03/01/2017,235,11,37,330.061,29,3,1,1,1
362,14,23,03/01/2017,155,12,34,330.061,25,1,2,0,4
363,11,26,09/01/2017,289,36,33,330.061,30,1,2,1,8
364,15,3,11/01/2017,291,31,40,330.061,25,1,1,1,8
365,5,26,16/01/2017,235,20,43,330.061,38,1,1,0,8
366,36,26,16/01/2017,118,13,50,330.061,31,1,1,0,4
367,3,28,25/01/2017,179,51,38,330.061,31,1,0,0,1
368,3,28,27/01/2017,179,51,38,330.061,31,1,0,0,1
369,34,28,07/02/2017,118,10,37,251.818,28,1,0,0,2
370,3,27,01/02/2017,179,51,38,251.818,31,1,0,0,3
371,28,7,01/02/2017,225,26,28,251.818,24,1,1,2,1
372,11,22,03/02/2017,289,36,33,251.818,30,1,2,1,3
373,20,28,10/02/2017,260,50,36,251.818,23,1,4,0,3
374,3,23,17/02/2017,179,51,38,251.818,31,1,0,0,3
375,3,27,13/02/2017,179,51,38,251.818,31,1,0,0,2
376,3,27,15/02/2017,179,51,38,251.818,31,1,0,0,3
377,3,10,16/02/2017,179,51,38,251.818,31,1,0,0,8
378,24,26,16/02/2017,246,25,41,251.818,23,1,0,0,8
379,3,27,17/02/2017,179,51,38,251.818,31,1,0,0,3
380,6,22,13/02/2017,189,29,33,251.818,25,1,2,2,8
381,3,27,13/02/2017,179,51,38,251.818,31,1,0,0,3
382,24,23,21/02/2017,246,25,41,251.818,23,1,0,0,2
383,15,23,21/02/2017,291,31,40,251.818,25,1,1,1,2
384,30,11,22/02/2017,157,27,29,251.818,22,1,0,0,16
385,3,27,22/02/2017,179,51,38,251.818,31,1,0,0,3
386,3,27,24/02/2017,179,51,38,251.818,31,1,0,0,3
387,24,10,24/02/2017,246,25,41,251.818,23,1,0,0,24
388,3,27,22/02/2017,179,51,38,251.818,31,1,0,0,3
389,3,27,24/02/2017,179,51,38,251.818,31,1,0,0,3
390,34,18,07/03/2017,118,10,37,244.387,28,1,0,0,8
391,24,19,08/03/2017,246,25,41,244.387,23,1,0,0,16
392,24,28,10/03/2017,246,25,41,244.387,23,1,0,0,2
393,20,28,10/03/2017,260,50,36,244.387,23,1,4,0,4
394,3,28,13/03/2017,179,51,38,244.387,31,1,0,0,2
395,1,22,13/03/2017,235,11,37,244.387,29,3,1,1,8
396,17,22,14/03/2017,179,22,40,244.387,22,2,2,0,8
397,23,22,14/03/2017,378,49,36,244.387,21,1,2,4,8
398,3,28,20/03/2017,179,51,38,244.387,31,1,0,0,16
399,10,22,22/03/2017,361,52,28,244.387,27,1,1,4,8
400,13,0,22/03/2017,369,17,31,244.387,25,1,3,0,0

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

In [68]:
df=df.drop(['ID'],axis=1)

In [69]:
df['Reason for Absence'].min()

0

In [70]:
df['Reason for Absence'].max()

28

In [71]:
pd.unique(df['Reason for Absence'])

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16])

In [72]:
reson_cols=pd.get_dummies(df['Reason for Absence'])

In [ ]:
reson_cols['check']=reson_cols.sum(axis=1)
reson_cols

In [74]:
reson_cols['check'].sum(axis=0)

700

In [75]:
reson_cols['check'].unique()

array([1])

In [ ]:
reson_cols=reson_cols.drop(['check'],axis=1)
reson_cols

In [77]:
reson_cols=pd.get_dummies(df['Reason for Absence'],drop_first=True)

In [ ]:
reson_cols

In [79]:
reason_1=reson_cols.iloc[:,1:14].max(axis=1)
reason_2=reson_cols.iloc[:,15:17].max(axis=1)
reason_3=reson_cols.iloc[:,18:21].max(axis=1)
reason_4=reson_cols.iloc[:,22:].max(axis=1)

In [ ]:
df=pd.concat([df,reason_1,reason_2,reason_3,reason_4],axis=1)
df

In [ ]:
df.columns.values

In [82]:
columns_names=['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 'reason_1', 'reason_2', 'reason_3', 'reason_4']

In [83]:
df.columns=columns_names

In [84]:
df.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,reason_1,reason_2,reason_3,reason_4
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,0
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,0

In [85]:
df_copy=df.copy()
df_copy.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,reason_1,reason_2,reason_3,reason_4
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,0
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,0

In [86]:
type(df_copy['Date'])

pandas.core.series.Series

In [87]:
df_copy['Date']=pd.to_datetime(df_copy['Date'],format='%d/%m/%Y')

In [88]:
df_copy['Date']

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
5     2015-07-10
6     2015-07-17
7     2015-07-24
8     2015-07-06
9     2015-07-13
10    2015-07-20
11    2015-07-14
12    2015-07-15
13    2015-07-15
14    2015-07-15
15    2015-07-17
16    2015-07-17
17    2015-07-27
18    2015-07-30
19    2015-08-05
20    2015-08-12
21    2015-08-03
22    2015-08-10
23    2015-08-14
24    2015-08-17
25    2015-08-24
26    2015-08-04
27    2015-08-12
28    2015-08-19
29    2015-08-28
30    2015-08-17
31    2015-08-27
32    2015-08-27
33    2015-08-17
34    2015-08-17
35    2015-08-17
36    2015-08-04
37    2015-08-20
38    2015-08-21
39    2015-08-28
40    2015-09-01
41    2015-09-07
42    2015-09-01
43    2015-09-08
44    2015-09-09
45    2015-09-13
46    2015-09-14
47    2015-09-24
48    2015-09-04
49    2015-09-14
50    2015-09-21
51    2015-09-28
52    2015-09-08
53    2015-09-15
54    2015-09-22
55    2015-09-29
56    2015-09-16
57    2015-09-23
58    2015-09-30
59    2015-09-11
60    2015-09-18
61    2015-09-25
62    2015-10-06
63    2015-10-13
64    2015-10-14
65    2015-10-15
66    2015-10-16
67    2015-10-16
68    2015-10-06
69    2015-10-14
70    2015-10-21
71    2015-10-22
72    2015-10-21
73    2015-10-21
74    2015-10-22
75    2015-10-13
76    2015-10-20
77    2015-10-21
78    2015-10-23
79    2015-10-30
80    2015-11-05
81    2015-11-04
82    2015-11-05
83    2015-11-12
84    2015-11-19
85    2015-11-02
86    2015-11-09
87    2015-11-16
88    2015-11-18
89    2015-11-20
90    2015-11-18
91    2015-11-25
92    2015-11-20
93    2015-11-27
94    2015-11-02
95    2015-11-10
96    2015-11-11
97    2015-11-26
98    2015-12-01
99    2015-12-01
100   2015-12-02
101   2015-12-02
102   2015-12-03
103   2015-12-04
104   2015-12-08
105   2015-12-09
106   2015-12-10
107   2015-12-11
108   2015-12-15
109   2015-12-16
110   2015-12-11
111   2015-12-18
112   2015-12-18
113   2016-01-06
114   2016-01-04
115   2016-01-05
116   2016-01-05
117   2016-01-06
118   2016-01-07
119   2016-01-07
120   2016-01-08
121   2016-01-11
122   2016-01-12
123   2016-01-12
124   2016-01-13
125   2016-01-14
126   2016-01-15
127   2016-01-11
128   2016-01-12
129   2016-01-12
130   2016-01-12
131   2016-01-13
132   2016-01-21
133   2016-01-28
134   2016-01-25
135   2016-01-26
136   2016-01-28
137   2016-02-05
138   2016-02-03
139   2016-02-10
140   2016-02-11
141   2016-02-11
142   2016-02-12
143   2016-02-12
144   2016-02-08
145   2016-02-09
146   2016-02-15
147   2016-02-09
148   2016-02-16
149   2016-02-23
150   2016-02-25
151   2016-02-15
152   2016-02-16
153   2016-02-17
154   2016-02-25
155   2016-03-01
156   2016-03-01
157   2016-03-08
158   2016-03-15
159   2016-03-16
160   2016-03-02
161   2016-03-03
162   2016-03-04
163   2016-03-04
164   2016-03-07
165   2016-03-14
166   2016-03-21
167   2016-03-22
168   2016-03-24
169   2016-03-24
170   2016-03-25
171   2016-03-25
172   2016-03-28
173   2016-03-29
174   2016-03-30
175   2016-03-28
176   2016-03-28
177   2016-03-29
178   2016-03-30
179   2016-03-30
180   2016-03-17
181   2016-03-18
182   2016-03-25
183   2016-03-28
184   2016-04-06
185   2016-04-13
186   2016-04-12
187   2016-04-13
188   2016-04-14
189   2016-04-15
190   2016-04-15
191   2016-04-06
192   2016-04-07
193   2016-04-08
194   2016-04-08
195   2016-04-22
196   2016-04-29
197   2016-04-29
198   2016-04-26
199   2016-04-27
200   2016-04-27
201   2016-04-28
202   2016-04-08
203   2016-04-04
204   2016-05-04
205   2016-05-05
206   2016-05-02
207   2016-05-03
208   2016-05-03
209   2016-05-11
210   2016-05-09
211   2016-05-10
212   2016-05-04
213   2016-05-11
214   2016-05-18
215   2016-05-25
216   2016-05-25
217   2016-05-24
218   2016-05-11
219   2016-05-27
220   2016-06-06
221   2016-06-13
222   2016-06-14
223   2016-06-16
224   2016-06-17
225   2016-06-13
226   2016-06-20
227   2016-06-27
228   2016-06-29
229   2016-06-03
230   2016-06-07
231   2016-06-08
232   2016-06-09
233   2016-06-10
234   2016-06-20
235   2016-06-30
236   2016-07-05
237   2016-07-06
238   2016-07-08
239   2016-07-08
240   2016-07-12
241   2016-07-14
242   2016-07-15
243   2016-07-18
244   2016-07-19
245   2016-07-18
246   2016-07-19
247   2016-07-20
248   2016-07-21
249   2016-07-11
250   2016-07-14
251   2016-07-21
252   2016-08-04
253   2016-08-11
254   2016-08-07
255   2016-08-08
256   2016-08-10
257   2016-08-10
258   2016-08-11
259   2016-08-08
260   2016-08-09
261   2016-08-10
262   2016-08-10
263   2016-08-10
264   2016-08-14
265   2016-08-15
266   2016-08-17
267   2016-08-24
268   2016-08-08
269   2016-08-30
270   2016-09-05
271   2016-09-09
272   2016-09-07
273   2016-09-08
274   2016-09-12
275   2016-09-13
276   2016-09-13
277   2016-09-13
278   2016-09-14
279   2016-09-14
280   2016-09-15
281   2016-09-16
282   2016-09-16
283   2016-09-14
284   2016-09-15
285   2016-09-15
286   2016-09-16
287   2016-09-26
288   2016-09-26
289   2016-10-05
290   2016-10-05
291   2016-10-05
292   2016-10-06
293   2016-10-06
294   2016-10-06
295   2016-10-12
296   2016-10-12
297   2016-10-12
298   2016-10-14
299   2016-10-14
300   2016-10-14
301   2016-10-15
302   2016-10-16
303   2016-10-16
304   2016-10-19
305   2016-10-19
306   2016-10-20
307   2016-10-20
308   2016-10-22
309   2016-10-22
310   2016-10-26
311   2016-10-27
312   2016-10-27
313   2016-10-27
314   2016-10-28
315   2016-10-28
316   2016-10-29
317   2016-11-07
318   2016-11-07
319   2016-11-08
320   2016-11-11
321   2016-11-14
322   2016-11-14
323   2016-11-14
324   2016-11-14
325   2016-11-15
326   2016-11-16
327   2016-11-16
328   2016-11-17
329   2016-11-17
330   2016-11-18
331   2016-11-18
332   2016-11-21
333   2016-11-22
334   2016-11-23
335   2016-11-25
336   2016-11-25
337   2016-11-29
338   2016-11-24
339   2016-12-05
340   2016-12-05
341   2016-12-05
342   2016-12-05
343   2016-12-06
344   2016-12-09
345   2016-12-15
346   2016-12-15
347   2016-12-16
348   2016-12-20
349   2016-12-20
350   2016-12-22
351   2016-12-23
352   2016-12-20
353   2016-12-20
354   2016-12-21
355   2016-12-19
356   2016-12-19
357   2016-12-19
358   2017-01-04
359   2017-01-09
360   2017-01-09
361   2017-01-03
362   2017-01-03
363   2017-01-09
364   2017-01-11
365   2017-01-16
366   2017-01-16
367   2017-01-25
368   2017-01-27
369   2017-02-07
370   2017-02-01
371   2017-02-01
372   2017-02-03
373   2017-02-10
374   2017-02-17
375   2017-02-13
376   2017-02-15
377   2017-02-16
378   2017-02-16
379   2017-02-17
380   2017-02-13
381   2017-02-13
382   2017-02-21
383   2017-02-21
384   2017-02-22
385   2017-02-22
386   2017-02-24
387   2017-02-24
388   2017-02-22
389   2017-02-24
390   2017-03-07
391   2017-03-08
392   2017-03-10
393   2017-03-10
394   2017-03-13
395   2017-03-13
396   2017-03-14
397   2017-03-14
398   2017-03-20
399   2017-03-22
400   2017-03-22
401   2017-03-23
402   2017-03-24
403   2017-03-28
404   2017-03-29
405   2017-03-30
406   2017-03-30
407   2017-03-30
408   2017-03-31
409   2017-03-31
410   2017-03-27
411   2017-03-28
412   2017-04-05
413   2017-04-07
414   2017-04-07
415   2017-04-10
416   2017-04-10
417   2017-04-12
418   2017-04-12
419   2017-04-17
420   2017-04-19
421   2017-04-28
422   2017-04-28
423   2017-04-24
424   2017-04-26
425   2017-05-01
426   2017-05-03
427   2017-05-08
428   2017-05-10
429   2017-05-10
430   2017-05-11
431   2017-05-12
432   2017-05-15
433   2017-05-15
434   2017-05-17
435   2017-05-17
436   2017-05-19
437   2017-05-22
438   2017-05-22
439   2017-05-29
440   2017-05-31
441   2017-06-05
442   2017-06-05
443   2017-06-06
444   2017-06-08
445   2017-06-09
446   2017-06-09
447   2017-06-12
448   2017-06-12
449   2017-06-13
450   2017-06-19
451   2017-06-20
452   2017-06-26
453   2017-06-28
454   2017-06-28
455   2017-06-28
456   2017-06-28
457   2017-06-30
458   2017-06-27
459   2017-06-27
460   2017-07-06
461   2017-07-06
462   2017-07-07
463   2017-07-10
464   2017-07-14
465   2017-07-14
466   2017-07-17
467   2017-07-18
468   2017-07-24
469   2017-07-24
470   2017-07-25
471   2017-07-25
472   2017-07-25
473   2017-07-28
474   2017-07-28
475   2017-07-24
476   2017-07-24
477   2017-07-25
478   2017-07-27
479   2017-07-27
480   2017-08-03
481   2017-08-07
482   2017-08-08
483   2017-08-08
484   2017-08-08
485   2017-08-08
486   2017-08-10
487   2017-08-14
488   2017-08-15
489   2017-08-17
490   2017-08-22
491   2017-08-22
492   2017-08-22
493   2017-08-24
494   2017-08-28
495   2017-09-05
496   2017-09-05
497   2017-09-05
498   2017-09-05
499   2017-09-07
500   2017-09-08
501   2017-09-08
502   2017-09-11
503   2017-09-13
504   2017-09-18
505   2017-09-19
506   2017-09-26
507   2017-10-05
508   2017-10-05
509   2017-10-06
510   2017-10-11
511   2017-10-11
512   2017-10-17
513   2017-10-19
514   2017-10-20
515   2017-10-24
516   2017-10-24
517   2017-10-24
518   2017-10-24
519   2017-10-24
520   2017-10-25
521   2017-10-25
522   2017-10-25
523   2017-10-26
524   2017-10-26
525   2017-10-27
526   2017-10-27
527   2017-10-29
528   2017-10-29
529   2017-10-29
530   2017-10-29
531   2017-10-31
532   2017-11-07
533   2017-11-08
534   2017-11-08
535   2017-11-10
536   2017-11-14
537   2017-11-15
538   2017-11-17
539   2017-11-17
540   2017-11-21
541   2017-11-22
542   2017-11-23
543   2017-11-23
544   2017-11-27
545   2017-11-27
546   2017-11-28
547   2017-11-28
548   2017-11-28
549   2017-11-29
550   2017-11-30
551   2017-11-30
552   2017-11-24
553   2017-11-24
554   2017-11-27
555   2017-12-05
556   2017-12-06
557   2017-12-06
558   2017-12-08
559   2017-12-08
560   2017-12-13
561   2017-12-14
562   2017-12-15
563   2017-12-15
564   2017-12-18
565   2017-12-19
566   2017-12-19
567   2017-12-21
568   2017-12-18
569   2017-12-19
570   2018-01-01
571   2018-01-04
572   2018-01-04
573   2018-01-05
574   2018-01-08
575   2018-01-10
576   2018-01-11
577   2018-01-12
578   2018-01-15
579   2018-01-16
580   2018-01-17
581   2018-01-17
582   2018-01-17
583   2018-01-18
584   2018-01-26
585   2018-02-06
586   2018-02-06
587   2018-02-07
588   2018-02-07
589   2018-02-08
590   2018-02-08
591   2018-02-08
592   2018-02-09
593   2018-02-09
594   2018-02-12
595   2018-02-12
596   2018-02-13
597   2018-02-14
598   2018-02-15
599   2018-02-15
600   2018-02-15
601   2018-02-16
602   2018-02-16
603   2018-02-21
604   2018-02-21
605   2018-02-21
606   2018-02-22
607   2018-02-23
608   2018-02-26
609   2018-02-26
610   2018-02-26
611   2018-02-26
612   2018-02-27
613   2018-02-27
614   2018-02-27
615   2018-02-28
616   2018-02-22
617   2018-02-23
618   2018-03-05
619   2018-03-05
620   2018-03-06
621   2018-03-06
622   2018-03-06
623   2018-03-07
624   2018-03-08
625   2018-03-08
626   2018-03-08
627   2018-03-09
628   2018-03-12
629   2018-03-12
630   2018-03-13
631   2018-03-14
632   2018-03-15
633   2018-03-16
634   2018-03-19
635   2018-03-19
636   2018-03-19
637   2018-03-19
638   2018-03-20
639   2018-03-21
640   2018-03-21
641   2018-03-21
642   2018-03-22
643   2018-03-22
644   2018-03-23
645   2018-03-23
646   2018-03-27
647   2018-03-28
648   2018-03-28
649   2018-03-28
650   2018-03-29
651   2018-03-26
652   2018-03-26
653   2018-03-28
654   2018-04-02
655   2018-04-02
656   2018-04-03
657   2018-04-04
658   2018-04-05
659   2018-04-06
660   2018-04-09
661   2018-04-10
662   2018-04-10
663   2018-04-10
664   2018-04-11
665   2018-04-13
666   2018-04-13
667   2018-04-16
668   2018-04-17
669   2018-04-20
670   2018-04-24
671   2018-04-26
672   2018-04-26
673   2018-04-27
674   2018-05-07
675   2018-05-09
676   2018-05-09
677   2018-05-09
678   2018-05-09
679   2018-05-10
680   2018-05-10
681   2018-05-10
682   2018-05-11
683   2018-05-11
684   2018-05-11
685   2018-05-14
686   2018-05-15
687   2018-05-15
688   2018-05-15
689   2018-05-16
690   2018-05-16
691   2018-05-18
692   2018-05-21
693   2018-05-21
694   2018-05-23
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: Date, dtype: datetime64[ns]

In [89]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Reason for Absence         700 non-null    int64
 1   Date                       700 non-null    datetime64[ns]
 2   Transportation Expense     700 non-null    int64
 3   Distance to Work           700 non-null    int64
 4   Age                        700 non-null    int64
 5   Daily Work Load Average    700 non-null    float64
 6   Body Mass Index            700 non-null    int64
 7   Education                  700 non-null    int64
 8   Children                   700 non-null    int64
 9   Pets                       700 non-null    int64
 10  Absenteeism Time in Hours  700 non-null    int64
 11  reason_1                   700 non-null    uint8
 12  reason_2                   700 non-null    uint8
 13  reason_3                   700 non-null    uint8
 14  reason_4                   700 non-null    uint8
dtypes: datetime64[ns](1), float64(1), int64(9), uint8(4)
memory usage: 63.0 KB

# Now we apply Machine leaning algorithn on our preprocessed data

In [90]:
data_pre=pd.read_csv('/content/Absenteeism_preprocessing_dataset.csv')

In [91]:
data_pre.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

In [92]:
#create targets
data_pre['Absenteeism Time in Hours'].median()

3.0

In [93]:
targets=np.where(data_pre['Absenteeism Time in Hours'] >
                 data_pre['Absenteeism Time in Hours'].median(),1,0)

In [94]:
data_pre['Excessive Absenteeism']=targets
data_pre.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

In [95]:
#we are adding break points
data_process=data_pre.copy()
data_process.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

In [96]:
targets.sum()/targets.shape[0]

0.45571428571428574

In [97]:
data_with_target=data_process.drop(['Absenteeism Time in Hours'],axis=1)

In [98]:
data_with_target is data_process

False

In [99]:
data_with_target.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,0

In [100]:
#select the inputs for regression
data_with_target.shape

(700, 15)

In [101]:
unscale_inputs=data_with_target.iloc[:,0:14] #we use also these iloc[:,:14] or iloc[:,:-1]

In [102]:
#standarized the data
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [103]:
scaler.fit(unscale_inputs)

StandardScaler()

In [104]:
scaled_inputs=scaler.transform(unscale_inputs)

In [105]:
scaled_inputs.shape

(700, 14)

In [106]:
#split the dataset into train and test
from sklearn.model_selection import train_test_split

In [107]:
x_train,x_test,y_train,y_test=train_test_split(scaled_inputs,targets,train_size=0.8)

In [108]:
print(x_train.shape,y_train.shape)

(560, 14) (560,)

In [109]:
print(x_test.shape,y_test.shape)

(140, 14) (140,)

In [110]:
#load linear model
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [112]:
#train the model
reg=LogisticRegression()
reg.fit(x_train,y_train)

LogisticRegression()

In [113]:
reg.score(x_train,y_train)

0.7714285714285715

In [115]:
#check the accuracy
out=reg.predict(x_train)
out

array([1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1])

In [117]:
np.sum(out == y_train)

432

In [118]:
out.shape[0]

560

In [119]:
np.sum(out == y_train)/out.shape[0]

0.7714285714285715

In [121]:
#finding intercept and coefficients
reg.intercept_

array([-0.27020137])

In [122]:
reg.coef_

array([[ 2.11234128,  0.375007  ,  1.49163228,  1.32007513,  0.01810141,
        -0.2030411 ,  0.65787862, -0.12700534, -0.27642866, -0.0530042 ,
         0.30589266, -0.11228452,  0.33327956, -0.33307517]])

In [124]:
features_name=unscale_inputs.columns.values

In [125]:
summary_table=pd.DataFrame(columns=['features name'],data=features_name)
summary_table['Coefficients']=np.transpose(reg.coef_)
summary_table

              features name  Coefficients
0                  Reason_1      2.112341
1                  Reason_2      0.375007
2                  Reason_3      1.491632
3                  Reason_4      1.320075
4               Month Value      0.018101
5           Day of the Week     -0.203041
6    Transportation Expense      0.657879
7          Distance to Work     -0.127005
8                       Age     -0.276429
9   Daily Work Load Average     -0.053004
10          Body Mass Index      0.305893
11                Education     -0.112285
12                 Children      0.333280
13                      Pet     -0.333075

In [129]:
summary_table.index=summary_table.index + 1
summary_table.loc[0]=['intercept',reg.intercept_[0]]
summary_table=summary_table.sort_index()
summary_table

              features name  Coefficients
0                 intercept     -0.270201
1                 intercept     -0.270201
4                  Reason_1      2.112341
5                  Reason_2      0.375007
6                  Reason_3      1.491632
7                  Reason_4      1.320075
8               Month Value      0.018101
9           Day of the Week     -0.203041
10   Transportation Expense      0.657879
11         Distance to Work     -0.127005
12                      Age     -0.276429
13  Daily Work Load Average     -0.053004
14          Body Mass Index      0.305893
15                Education     -0.112285
16                 Children      0.333280
17                      Pet     -0.333075

In [132]:
#interpreting the coefficient
summary_table['Odds_ratio']=np.exp(summary_table.Coefficients)
summary_table.sort_values(['Odds_ratio'],ascending=False)
summary_table

              features name  Coefficients  Odds_ratio
0                 intercept     -0.270201    0.763226
1                 intercept     -0.270201    0.763226
4                  Reason_1      2.112341    8.267575
5                  Reason_2      0.375007    1.455002
6                  Reason_3      1.491632    4.444344
7                  Reason_4      1.320075    3.743703
8               Month Value      0.018101    1.018266
9           Day of the Week     -0.203041    0.816245
10   Transportation Expense      0.657879    1.930692
11         Distance to Work     -0.127005    0.880729
12                      Age     -0.276429    0.758488
13  Daily Work Load Average     -0.053004    0.948376
14          Body Mass Index      0.305893    1.357837
15                Education     -0.112285    0.893790
16                 Children      0.333280    1.395537
17                      Pet     -0.333075    0.716716

In [133]:
#test the model
reg.score(x_test,y_test)

0.7214285714285714

In [134]:
predicted=reg.predict_proba(x_test)
predicted

array([[0.09015033, 0.90984967],
       [0.54458757, 0.45541243],
       [0.28791732, 0.71208268],
       [0.51316003, 0.48683997],
       [0.25999996, 0.74000004],
       [0.46573448, 0.53426552],
       [0.85253298, 0.14746702],
       [0.06794168, 0.93205832],
       [0.04095835, 0.95904165],
       [0.18880454, 0.81119546],
       [0.51362874, 0.48637126],
       [0.56059202, 0.43940798],
       [0.89156875, 0.10843125],
       [0.12413497, 0.87586503],
       [0.64271712, 0.35728288],
       [0.98113938, 0.01886062],
       [0.75681378, 0.24318622],
       [0.40043582, 0.59956418],
       [0.74151525, 0.25848475],
       [0.84890388, 0.15109612],
       [0.46522418, 0.53477582],
       [0.70074977, 0.29925023],
       [0.9015641 , 0.0984359 ],
       [0.79220729, 0.20779271],
       [0.85007541, 0.14992459],
       [0.82193051, 0.17806949],
       [0.7336042 , 0.2663958 ],
       [0.87248343, 0.12751657],
       [0.68583428, 0.31416572],
       [0.0677057 , 0.9322943 ],
       [0.37416879, 0.62583121],
       [0.80290629, 0.19709371],
       [0.47903073, 0.52096927],
       [0.1366751 , 0.8633249 ],
       [0.74670325, 0.25329675],
       [0.58217346, 0.41782654],
       [0.77073347, 0.22926653],
       [0.26026441, 0.73973559],
       [0.10091247, 0.89908753],
       [0.81137277, 0.18862723],
       [0.38793801, 0.61206199],
       [0.22305055, 0.77694945],
       [0.79790035, 0.20209965],
       [0.43182797, 0.56817203],
       [0.73484607, 0.26515393],
       [0.08850187, 0.91149813],
       [0.0581025 , 0.9418975 ],
       [0.50652341, 0.49347659],
       [0.89017379, 0.10982621],
       [0.64341576, 0.35658424],
       [0.45947589, 0.54052411],
       [0.71413926, 0.28586074],
       [0.36938671, 0.63061329],
       [0.24193941, 0.75806059],
       [0.69195426, 0.30804574],
       [0.69117136, 0.30882864],
       [0.24373147, 0.75626853],
       [0.8656512 , 0.1343488 ],
       [0.43864458, 0.56135542],
       [0.80672954, 0.19327046],
       [0.49243619, 0.50756381],
       [0.74875049, 0.25124951],
       [0.78504389, 0.21495611],
       [0.48774288, 0.51225712],
       [0.86527783, 0.13472217],
       [0.69112272, 0.30887728],
       [0.67673784, 0.32326216],
       [0.85839998, 0.14160002],
       [0.46491929, 0.53508071],
       [0.96691082, 0.03308918],
       [0.89238454, 0.10761546],
       [0.36772519, 0.63227481],
       [0.82407958, 0.17592042],
       [0.08786207, 0.91213793],
       [0.68521361, 0.31478639],
       [0.86503851, 0.13496149],
       [0.68385144, 0.31614856],
       [0.55848512, 0.44151488],
       [0.838543  , 0.161457  ],
       [0.49913043, 0.50086957],
       [0.20830283, 0.79169717],
       [0.32299644, 0.67700356],
       [0.09623018, 0.90376982],
       [0.74357453, 0.25642547],
       [0.90194378, 0.09805622],
       [0.87924312, 0.12075688],
       [0.03990933, 0.96009067],
       [0.44315635, 0.55684365],
       [0.33212657, 0.66787343],
       [0.87184836, 0.12815164],
       [0.80290629, 0.19709371],
       [0.20930207, 0.79069793],
       [0.12421911, 0.87578089],
       [0.83661367, 0.16338633],
       [0.95832313, 0.04167687],
       [0.50521504, 0.49478496],
       [0.77801414, 0.22198586],
       [0.71942779, 0.28057221],
       [0.64482468, 0.35517532],
       [0.96475091, 0.03524909],
       [0.77763782, 0.22236218],
       [0.37838566, 0.62161434],
       [0.71326616, 0.28673384],
       [0.71991684, 0.28008316],
       [0.1689504 , 0.8310496 ],
       [0.82306096, 0.17693904],
       [0.12120918, 0.87879082],
       [0.46105385, 0.53894615],
       [0.75485604, 0.24514396],
       [0.87377128, 0.12622872],
       [0.81476915, 0.18523085],
       [0.8552445 , 0.1447555 ],
       [0.35462445, 0.64537555],
       [0.64101009, 0.35898991],
       [0.48433385, 0.51566615],
       [0.26658252, 0.73341748],
       [0.77308328, 0.22691672],
       [0.07085916, 0.92914084],
       [0.88934492, 0.11065508],
       [0.39981721, 0.60018279],
       [0.64048107, 0.35951893],
       [0.47804415, 0.52195585],
       [0.22165422, 0.77834578],
       [0.52456696, 0.47543304],
       [0.45787309, 0.54212691],
       [0.18334098, 0.81665902],
       [0.65313632, 0.34686368],
       [0.06495238, 0.93504762],
       [0.81916675, 0.18083325],
       [0.14246569, 0.85753431],
       [0.48981486, 0.51018514],
       [0.52082147, 0.47917853],
       [0.67343002, 0.32656998],
       [0.79669562, 0.20330438],
       [0.20817908, 0.79182092],
       [0.43840322, 0.56159678],
       [0.891927  , 0.108073  ],
       [0.42497184, 0.57502816],
       [0.78407267, 0.21592733],
       [0.77345608, 0.22654392]])

In [135]:
predicted.shape

(140, 2)

In [136]:
predicted[:,1]

array([0.90984967, 0.45541243, 0.71208268, 0.48683997, 0.74000004,
       0.53426552, 0.14746702, 0.93205832, 0.95904165, 0.81119546,
       0.48637126, 0.43940798, 0.10843125, 0.87586503, 0.35728288,
       0.01886062, 0.24318622, 0.59956418, 0.25848475, 0.15109612,
       0.53477582, 0.29925023, 0.0984359 , 0.20779271, 0.14992459,
       0.17806949, 0.2663958 , 0.12751657, 0.31416572, 0.9322943 ,
       0.62583121, 0.19709371, 0.52096927, 0.8633249 , 0.25329675,
       0.41782654, 0.22926653, 0.73973559, 0.89908753, 0.18862723,
       0.61206199, 0.77694945, 0.20209965, 0.56817203, 0.26515393,
       0.91149813, 0.9418975 , 0.49347659, 0.10982621, 0.35658424,
       0.54052411, 0.28586074, 0.63061329, 0.75806059, 0.30804574,
       0.30882864, 0.75626853, 0.1343488 , 0.56135542, 0.19327046,
       0.50756381, 0.25124951, 0.21495611, 0.51225712, 0.13472217,
       0.30887728, 0.32326216, 0.14160002, 0.53508071, 0.03308918,
       0.10761546, 0.63227481, 0.17592042, 0.91213793, 0.31478639,
       0.13496149, 0.31614856, 0.44151488, 0.161457  , 0.50086957,
       0.79169717, 0.67700356, 0.90376982, 0.25642547, 0.09805622,
       0.12075688, 0.96009067, 0.55684365, 0.66787343, 0.12815164,
       0.19709371, 0.79069793, 0.87578089, 0.16338633, 0.04167687,
       0.49478496, 0.22198586, 0.28057221, 0.35517532, 0.03524909,
       0.22236218, 0.62161434, 0.28673384, 0.28008316, 0.8310496 ,
       0.17693904, 0.87879082, 0.53894615, 0.24514396, 0.12622872,
       0.18523085, 0.1447555 , 0.64537555, 0.35898991, 0.51566615,
       0.73341748, 0.22691672, 0.92914084, 0.11065508, 0.60018279,
       0.35951893, 0.52195585, 0.77834578, 0.47543304, 0.54212691,
       0.81665902, 0.34686368, 0.93504762, 0.18083325, 0.85753431,
       0.51018514, 0.47917853, 0.32656998, 0.20330438, 0.79182092,
       0.56159678, 0.108073  , 0.57502816, 0.21592733, 0.22654392])

In [137]:
#save the model
import pickle

In [138]:
with open('model','wb') as file:
  pickle.dump(reg,file)